<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentASuperHero.com</title>
    <!-- Add CSS link for styling -->
    <link rel="stylesheet" href="../../static/home/styles.css">
</head>
<body>
    <header>
        <h1>RentASuperHero.com</h1>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#superheroes">Superheroes</a></li>
                <li><a href="../booking/booking.php">Booking</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="../wish_list/wishlist.php">Wishlist</a></li> <!-- Add Wishlist Link -->
            </ul>
        </nav>
    </header>
    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>Welcome to RentASuperHero.com, where you can bring the excitement of superheroes to your events!</p>
            <!-- Add more about us content -->
        </section>
        <section id="superheroes">
            <h2>Our Superheroes</h2><br><br>
            <!-- Add superhero profiles with images -->
            <br><div class="superhero">
                <h3>Deadpool</h3>
                <img src="../../img/home/Набор стикеров для Telegram «Дэдпул».jpeg" alt="Deadpool">
                <p>Bad puns, rubber chickens</p>
                <button><a href="../deadpool/deadpool.php">Book Now</a></button>
            </div>
            <div class="superhero">
                <h3>Joker</h3>
                <img src="../../img/home/40 Facts You Probably Didn't Know About Tim Curry.jpeg" alt="Joker">
                <p>Slapstick comedy, exploding pies</p>
                <button> <a href="../joker/joker.php">Book Now</a></button>
            </div>
            <div class="superhero">
                <h3>The Flash</h3>
                <img src="../../img/home/Pop Culture Design.jpeg" alt="The Flash">
                <p>Quick wit, lightning-fast punchlines</p>
                <button><a href="../flash/flash.php">Book Now</a></button>
            </div>
            <div class="superhero">
                <h3>Batman</h3>
                <img src="../../img/home/1950s.jpeg" alt="Batman">
                <p>Dry wit, sarcastic remarks</p>
                <button><a href="../batman/batman.php">Book Now</a></button>
            </div>
            <!-- Add more superhero profiles -->
        </section>
        <section id="contact">
            <h2>Contact Us</h2>
            <p>Have questions? Reach out to us at info@rentasuperhero.com</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 RentASuperHero.com. All rights reserved.</p>
        <p>Made by: Hussaen Alaa</p>
    </footer>
</body>
</html>
